APP_NAME=FastAPI AI
APP_VERSION=0.1.0
DEBUG=false

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname

DATABASE_URL=postgresql+asyncpg://user:password@db:5432/dbname

INITIAL_USER_USERNAME=admin
INITIAL_USER_PASSWORD=secret123
SECRET_KEY=your-strong-secret-key
